{% extends "layout.html" %}

{% block title %}Home{% endblock %}


{% block container %}

    <h4>House Command</h4>

    <div class="container">
        <div class="row">
            <div class="four columns">
                <a class="card" href="/dispositivos/portao1">Portão 1</a>
            </div>
            <div class="four columns">
                <a class="card" href="/dispositivos/portao2">Portão 2</a>
            </div>
            <div class="four columns">
                <a class="card" href="/dispositivos/garagem">Garagem</a>
            </div>
        </div>
    </div>

{% endblock %}